.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card-container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  width: 300px;
  margin-bottom: 15px;
  margin-right: 15px;
  list-style-type: none;
}

.title-class {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 15px;
}

.description-class {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 10px;
}

.image {
  height: 50px;
  width: 50px;
  align-self: flex-end;
}
